 # Enable RewriteEngine
 RewriteEngine On
 
 # Set the base directory for rewrite rules
 RewriteBase /stockpicker/
 
 # If the requested file or directory doesn't exist,
 # rewrite the request to index.html
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.html [L,QSA]