 # Enable RewriteEngine
 RewriteEngine On
 
 # Set the base directory
 RewriteBase /stockpicker/
 
 # If the requested file or directory exists, serve it directly
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 
 # Otherwise, redirect all requests to index.html for SPA routing
 RewriteRule ^ index.html [QSA,L]